:root {
	--interactions-color-white: #fff;
}

/* **************************************
    Comments
************************************** */

/* Standard syntax */
@keyframes comment-highlight {
	from {
		background: var(--elgg-state-notice-background-color);
	}
	to {
		background: var(--interactions-color-white);
	}
}
