.elgg-river-responses > .interactions {
	& > .interactions-controls {
		border-top: 1px solid $(border-color-soft);
		position: relative;
	}

	& > .interactions-controls:before {
		content: "\25B2";
		color: #fff;
		position: absolute;
		top: calc(-0.75rem + 1px);
		font-size: 0.75rem;
		text-shadow: 0 -2px 1px $(border-color-soft);
		margin-left: 1rem;
	}
}

.elgg-menu-interactions {
	padding: 0 0.25rem;
}

.elgg-menu-interactions > li > a {
	padding: .5rem;
	font-size: 0.75rem;
	text-decoration: none;
	.elgg-icon {
		margin-right: 0.5rem;
	}
}

.elgg-river-item form {
	border: none;
	padding: 1rem;
	border-top: 1px solid $(border-color-soft);
	margin: 0 !important;
}

.elgg-item-object-comment > form {
	padding: 0;
	border: none;
}

.elgg-menu-comment-form-footer .elgg-menu-item-cancel {
	margin-left: auto;
	order: 90;
}

.elgg-menu-comment-form-footer .elgg-menu-item-submit {
	order: 100;
	margin-left: auto;
}

.elgg-menu-comment-form-footer .elgg-menu-item-cancel + .elgg-menu-item-submit {
	margin-left: 0.5rem;
}

.interactions-component {
	display: none;
}

.interactions-component.elgg-state-selected {
	display: block;
}

.interactions-comments-list > li {
	border-top: 1px solid $(border-color-soft);
	border-bottom: none;
}

.interactions-comments-list + .elgg-no-results {
	border-top: 1px solid $(border-color-soft);
	margin: 0;
	font-size: 75%;
}

.interactions-comment-body + .elgg-list {
	margin: 1rem 0 0.5rem;
	background: $(background-color-soft);
	border: none;
	border-radius: 3px;
}

.interactions-comment-body + .elgg-list> li:last-child {
	border-bottom: 0;
}